{% extends "base.html" %}

{% block title %}Contatos{% endblock %}

{% block body_class %}has-background-color{% endblock %}

{% block content %}
<h1>CONTRABANDO DE ESPÉCIES SILVESTRES</h1>
<p>Ameaça à Biodiversidade Paranaense.</p>
<a href="{{ url_for('contatos') }}" class="button">Contatos</a>
<a href="{{ url_for('sobre') }}" class="button">Sobre</a>
<a href="{{ url_for('projeto') }}" class="button">Projeto</a>
<div class="contact-grid">
    <div class="contact">
        <h1>Gabriel</h1>
        <p>Celular: (42)988277747</p>
        <p>Email: gabrielgarciagomes15@gmail.com</p>
    </div>
    <div class="contact">
        <h1>Jessica</h1>
        <p>Celular: (42)988277747</p>
        <p>Email: gabrielgarciagomes15@gmail.com</p>
    </div>
    <div class="contact">
        <h1>Leonardo</h1>
        <p>Celular: (42)988277747</p>
        <p>Email: gabrielgarciagomes15@gmail.com</p>
    </div>
    <div class="contact">
        <h1>Tamara</h1>
        <p>Celular: (42)988277747</p>
        <p>Email: gabrielgarciagomes15@gmail.com</p>
    </div>
    <div class="contact">
        <h1>Tatiane</h1>
        <p>Celular: (42)988277747</p>
        <p>Email: gabrielgarciagomes15@gmail.com</p>
    </div>
    <div class="contact">
        <h1>Vitor</h1>
        <p>Celular: (42)988277747</p>
        <p>Email: gabrielgarciagomes15@gmail.com</p>
    </div>
</div>
<script>
    // Verifica se a página atual é a página de contatos
    if (window.location.pathname.includes("/Contatos")) {
        // Se for, redireciona para a página inicial ao clicar no botão "Contatos"
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelector('.contact-button').addEventListener('click', function() {
                window.location.href = "/Inicio";
            });
        });
    }
</script>
{% endblock %}
